<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.it2.axpresslogisticapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_api_key"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher24s"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher24s_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acitvities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".acitvities.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acitvities.RegistrationActivity"
            android:label="@string/signup" />
        <activity
            android:name=".acitvities.LoginActivity"
            android:label="@string/loginPage" />
        <activity
            android:name=".acitvities.OperationActivity"
            android:label="@string/operations" />
        <activity
            android:name=".acitvities.MainHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".acitvities.DocketEnquiry"
            android:label="@string/docket_enquiry" />
        <activity
            android:name=".acitvities.HrmsActivity"
            android:label="@string/hrms">
            >
        </activity>
        <activity android:name=".acitvities.MarkAttendanceActivity"></activity>
    </application>

</manifest>